<div class="comment-form-area">
  <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="commenter-area">
        <%= f.label :commenter, '投稿者' %>
        <%= f.text_field :commenter, class: 'commenter' %>
      </div>

      <div>
        <%= f.text_area :body, cols: 60, rows: 3, class: 'comment-text', placeholder: 'コメントを入力してください' %>
      </div>

      <div class="btn-area">
        <%= f.submit '投稿' %>
      </div>
  <% end %>
</div>