<main class="posts">
  <% @posts.each do |post| %>
      <article>
        <header>
          <h3 class="a-title"><%= link_to post.title, post %></h3>
          <%= link_to '記事を読む→', post , class: 'more-link'  %>
        </header>
        <div class="a-bot">
          <ul>
            <li class="fav-area">
              <%=	link_to 'いいね', fav_post_path(post), class: 'fav-btn' %>
              <span class="fav-num"><%= post.fav %></span>
            </li>
            <li>コメント(<%= post.comments.count %>)</li>
            <li>
              <time>投稿日時:<%= post.created_at.to_s(:published_on) %></time>
            </li>
          </ul>
        </div>
      </article>
  <% end %>
</main>

<footer>

</footer>