<h2>全ての投稿一覧</h2>
<main>
  <% @posts.each do |post| %>
      <article>
        <h3 class="a-title"><%= link_to post.title, post %></h3>
        <%= link_to '読む→', post %>
        <div class="a-bot">
          <span><%=	 link_to 'いいね', fav_post_path(post) %>:<%= post.fav %></span> |
          <span>コメント数:<%= post.comments.count %></span> |
          <span>投稿日時:<%= post.created_at.to_s(:published_on) %></span>
        </div>
      </article>
  <% end %>
</main>
<nav>
  <%= link_to '>>新しい記事の作成', new_post_path %>
</nav>