<main class="new-post">
  <div class="card">
    <h3>新しい記事</h3>
    <%= form_for :post, url: posts_path do |f| %>
        <% if @post.errors.any? %>
            <div id="error">
              <h2>入力エラー</h2>
              <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="title">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_field :title %>
        </div>

        <div class="naiyou">
          <%= f.label :text, '内容' %>
          <%= f.text_area :text, rows: 8 %>
        </div>

        <div class="btn-area">
          <%= f.submit class: 'common-submit-btn' %>
        </div>
    <% end %>
  </div>
</main>